{% extends 'snippets/base.html' %}
{% load static %}
{% load humanize %}

{% block body %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <!-- Jumbotron -->
    <div class="jumbotron mt-5 bg-light border-0 shadow-sm">
        <div class="container">
            <h1 class="display-4 font-weight-bold text-capitalize">{{ title }}</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>

    <!-- Cards -->
    <div class="row">

        <!-- Main Cards -->
        {% for post in object_list %}
        <div class="col-md-6">
            <a href="{% url 'post' post.slug %}" class="text-decoration-none text-dark">
                <div class="card mb-3 border-0 shadow-sm">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="{{ post.image }}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold">{{ post.title }}</h5>
                                <p class="card-text">{{ post.body|truncatewords:15 }}</p>
                                <p class="card-text">
                                    <small class="text-muted">{{ post.category }}</small>
                                    <small class="text-muted float-right">{{ post.publish|naturaltime }}</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

    <!-- pagination -->
    {% if is_paginated %}
    <nav class="mt-5 mb-5">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link border-0 shadow-sm bg-secondary text-white border-0 shadow-sm bg-secondary text-white"
                    href="{% url 'category' category page_obj.previous_page_number %}" tabindex="-1">&laquo</a>
            </li>
            {% endif %}
            {% for i in paginator.page_range %}
            <li class="page-item"><a class="page-link border-0 shadow-sm bg-secondary text-white"
                    href="{% url 'category' category i %}">{{ i }}</a></li>
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link border-0 shadow-sm bg-secondary text-white"
                    href="{% url 'category' category page_obj.next_page_number %}">&raquo</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

</body>

</html>

{% endblock body %}